:root {
  --blue: #30a1a7;
  --second-def-color: #424242;
  --black-color: #000;
  --white-color: #fff;
  --yellow-color: #ffe074;
  --green-bkg: #f3f5f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Gilroy";
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.title span {
  color: var(--blue);
}
.container {
  max-width: 1520px;
  margin: 0 auto;
}

button,
input,
a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  background: none;
  border: none;
  outline: none;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 36px;
  }
}

@media screen and (max-width: 870px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 660px) {
  .title {
    font-size: 26px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 22px;
  }
}
.choosen-section {
  width: 100%;
  padding: 55px 35px;
  font-family: "Gilroy";
}

.choosen-section h3 {
  font-size: 40px;
  font-weight: 600;
  max-width: 450px;
}

.choosen-section h3 span {
  color: var(--blue);
}

.choosen-section .choosen-main-div {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

.choosen-section .choosen-main-div .chosen-left-div {
  width: 66.6%;
  height: 100%;
}

.choosen-section .choosen-main-div .chosen-left-div .left-div-top {
  width: 100%;
  height: 66.6%;
  display: flex;
  gap: 25px;
  margin-bottom: 25px;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .left-implantations {
  position: relative;
  width: 50%;
  height: 100%;
  background: var(--blue);
  padding: 55px 0 0 45px;
  border-radius: 25px 0 0 0;
  z-index: 1;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .left-implantations
  h4 {
  font-size: 25px;
  max-width: 250px;
  color: var(--white-color);
  font-weight: 600;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .left-implantations
  img {
  position: absolute;
  width: 340px;
  left: 16%;
  bottom: 0;
  z-index: 2;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .left-implantations
  p {
  position: absolute;
  font-size: 95px;
  right: -105px;
  bottom: 105px;
  font-weight: 700;
  transform: rotate(90deg);
  color: #fff;
  opacity: 0.3;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .left-implantations
  h4
  span {
  font-size: 40px;
  color: var(--yellow-color);
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern {
  width: 50%;
  height: 100%;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  div {
  width: 100%;
  height: 47.5%;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .patients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  background: #d7f4f0;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .patients
  .patients-percent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .patients
  .patients-percent
  .percent-main-span {
  color: var(--blue);
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .patients
  .patients-percent
  .percent-main-span
  span {
  font-size: 65px;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .patients
  p {
  width: 350px;
  font-size: 18px;
  font-weight: 400;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .modern-equipment {
  position: relative;
  width: 100%;
  background: var(--yellow-color);
  padding: 35px 0 0 25px;
  font-size: 39px;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .modern-equipment
  span,
.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .modern-equipment
  h4 {
  position: absolute;
  z-index: 1;
  margin-left: 5px;
  color: var(--blue);
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .modern-equipment
  h4 {
  color: #000;
}

.choosen-section
  .choosen-main-div
  .chosen-left-div
  .left-div-top
  .patients-and-modern
  .modern-equipment
  img {
  position: absolute;
  width: 320px;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.choosen-section .choosen-main-div .chosen-left-div .left-div-bottom {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: #d7f4f0;
  border-radius: 0 0 0 25px;
}

.choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 {
  font-size: 24px;
  font-weight: 700;
  width: 500px;
}

.choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 span {
  font-size: 28px;
  line-height: 39px;
  font-weight: 700;
}

.choosen-section .choosen-main-div .chosen-right-div {
  width: 33.3%;
  height: 100%;
  position: relative;
  padding: 55px 0 0 25px;
  background: var(--blue);
  border-radius: 0 25px 25px 0;
}

.choosen-section .choosen-main-div .chosen-right-div h3 span {
  font-size: 40px;
  font-weight: 600;
  color: var(--yellow-color);
}

.choosen-section .choosen-main-div .chosen-right-div h3 {
  max-width: 250px;
  font-size: 20px;
  font-weight: 500;
  color: var(--white-color);
}

.choosen-section .choosen-main-div .chosen-right-div img {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 15%;
}

.choosen-section .choosen-main-div .chosen-right-div p {
  position: absolute;
  font-size: 90px;
  line-height: 93px;
  bottom: 175px;
  right: -165px;
  transform: rotate(90deg);
  color: #fff;
  opacity: 0.3;
}

.consultation-process-section {
  width: 100%;
  padding: 55px 35px;
  font-family: "Gilroy";
}

.consultation-process-section h3 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
}

.consultation-process-section h3 span {
  color: var(--blue);
}

.consultation-process-section .process-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.consultation-process-section .process-menu li {
  width: 340px;
  list-style: none;
}

.consultation-process-section .process-menu li img {
  width: 100%;
  height: 250px;
  border-radius: 25px 25px 25px 0;
}

.consultation-process-section .process-menu li .process-item-desc p span {
  font-weight: 600;
  color: var(--blue);
  margin-right: 3px;
}

.consultation-process-section .process-menu li .process-item-desc {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.consultation-process-section .process-menu li .process-item-desc button {
  width: 42px;
  height: 36px;
  background: transparent;
  border: none;
}

.consultation-process-section .process-menu li .process-item-desc button img {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

@media screen and (max-width: 1280px) {
  .choosen-section .choosen-main-div {
    height: 1000px;
    flex-direction: column;
  }
  .choosen-section .choosen-main-div .chosen-left-div,
  .choosen-section .choosen-main-div .chosen-right-div {
    width: 100%;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients {
    border-radius: 0 25px 0 0;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom {
    border-radius: 0;
  }
  .choosen-section .choosen-main-div .chosen-right-div {
    height: auto;
    padding: 35px;
    border-radius: 0 0 25px 25px;
  }
  .choosen-section .choosen-main-div .chosen-right-div img {
    display: none;
  }
  .choosen-section .choosen-main-div .chosen-right-div p {
    font-size: 75px;
    transform: none;
    right: 10px;
    bottom: 0;
  }
}

@media screen and (max-width: 870px) {
  .choosen-section .choosen-main-div {
    height: auto;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations
    img {
    display: none;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-top {
    height: 400px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations
    h4 {
    font-size: 18px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations
    h4
    span {
    font-size: 30px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients
    p {
    width: 250px;
    font-size: 14px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment
    h4 {
    font-size: 19px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 {
    font-size: 19px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 span {
    font-size: 24px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom img {
    width: 275px;
  }
}
@media screen and (max-width: 770px) {
  .consultation-process-section .process-menu li {
    width: 500px;
  }
  .consultation-process-section .process-menu li .process-main-img {
    height: fit-content;
  }
}
@media screen and (max-width: 660px) {
  .choosen-section h3,
  .consultation-process-section h3 {
    font-size: 30px;
  }
  .choosen-section .choosen-main-div .chosen-left-div {
    height: auto;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-top {
    flex-direction: column;
    height: auto;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations,
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern {
    width: 100%;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations {
    border-radius: 25px 25px 0 0;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients {
    flex-direction: row;
    border-radius: 0;
    height: auto;
    padding: 25px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment {
    display: flex;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment
    h4,
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment
    img {
    position: static;
    width: 250px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations
    p {
    display: none;
  }
  .choosen-section .choosen-main-div .chosen-right-div p {
    display: none;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 {
    font-size: 15px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom img {
    width: 180px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom {
    height: auto;
    padding: 25px;
    margin-bottom: 15px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment
    h4 {
    width: 100%;
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .choosen-section {
    padding: 45px 16px;
  }
  .choosen-section h3,
  .consultation-process-section h3 {
    font-size: 27px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .left-implantations {
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients
    .patients-percent {
    flex-direction: column;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients
    .patients-percent
    img {
    width: 100px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients
    .patients-percent
    .percent-main-span {
    text-align: center;
    font-size: 32px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .patients
    .patients-percent
    .percent-main-span
    span {
    font-size: 45px;
  }
  .choosen-section
    .choosen-main-div
    .chosen-left-div
    .left-div-top
    .patients-and-modern
    .modern-equipment
    img {
    bottom: 0;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 {
    font-size: 13px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom h3 span {
    font-size: 16px;
  }
  .choosen-section .choosen-main-div .chosen-left-div .left-div-bottom img {
    width: 140px;
  }
}

/* ========================================= HERO SECTION  ====================================== */
.header {
  background-image: url("./img/header_bkg.webp");
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.nav {
  padding-top: 1.25rem /* 20px */;
  padding-bottom: 1.25rem /* 20px */;
  background: #fff;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 1);
  box-shadow: 0px 1px 5px 0px rgba(150, 150, 150, 1);
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 16px;
}
.nav-links .left-col {
  max-width: 470px;
  display: flex;
  align-items: center;
}

.nav-links .stick {
  background-color: var(--blue);
  width: 3px;
  height: 76px;
  margin-left: 0.5rem /* 8px */;
  margin-right: 0.5rem /* 8px */;
}
.nav-links .logo-text {
  font-weight: normal;
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  max-width: 12rem /* 192px */;
  min-width: 140px;
}
.nav-links .right-col {
  display: flex;
  align-items: center;
  gap: 0.75rem /* 12px */;
}
.nav-links .nav-address {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  color: var(--blue);
}
.nav-links .nav-tel {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}
.nav-btn {
  padding: 10px 40px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(
    180deg,
    rgba(89, 160, 144, 1) 49%,
    rgba(29, 142, 146, 1) 100%
  );
}
@media screen and (max-width: 1200px) {
  .header_img {
    /* width: calc(350px - 10vh); */
  }
}

@media screen and (max-width: 870px) {
  .nav-links {
    flex-direction: column;
    gap: 6px;
  }
  .nav-links .left-col {
    transform: scale(0.8);
  }
  .nav-links .stick {
    transform: scaleY(0.8);
  }
  .nav-links .logo-text {
    font-weight: normal;
    font-size: 1rem /* 20px */;
    line-height: 1.75rem /* 28px */;
    max-width: 10rem /* 192px */;
  }
}

@media screen and (max-width: 600px) {
  .nav-links .left-col {
    transform: scale(0.7);
  }
  .nav-links .stick {
    transform: scaleY(0.7);
  }
  .nav-btn {
    padding: 8px 18px;
  }
  .nav-links .nav-address {
    font-size: 12px /* 14px */;
    line-height: 14px /* 20px */;
    color: var(--blue);
  }
  .header_menu-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .header_form {
    width: 100%;
  }
  .header_form-box {
    flex-direction: column;
  }
  .header_form-box div {
    width: 100%;
  }
  .header_form-data {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
/* ======== nav finished ============ */

.hero {
  padding: 50px 16px 16px;
}
.header {
  position: relative;
}
.header_img {
  position: absolute;
  z-index: 1;
  max-width: 350px;
  width: 100%;
  bottom: 0;
  left: 45%;
}
.header_box,
.header_content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
.header_content div img {
  max-width: 100px;
  width: 100%;
}
.header_box {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 50px;
  gap: 25px;
}
.header_box.jcfs,
.header_content div {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.header_title {
  font-size: 44px;
  font-weight: 700;
  color: var(--second-def-color);
  text-transform: uppercase;
  max-width: 400px;
  width: 100%;
}
.header_title span {
  color: var(--blue);
}
.header_subtitle {
  margin: 5px 0 10px;
  font-size: 15px;
}
.header_garant span,
.header_subtitle span,
.include_img-box div p span {
  font-weight: 600;
}
.header_garant {
  margin-bottom: 20px;
  font-size: 14px;
}
.header_menu {
  padding-top: 20px;
  width: 30%;
  z-index: 3;
}
.header_menu-btn,
.header_menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_menu-item {
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 25px;
}
.header_menu-btn {
  width: 75px !important;
  height: 75px;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: var(--blue);
  border-radius: 50%;
}
.header_menu-btn i {
  color: #fff;
  font-size: 35px;
}
.header_menu-title {
  font-size: 20px;
  font-weight: 400;
}
.header_menu-title span {
  color: var(--blue);
  font-size: 25px;
  font-weight: 700;
}
.header_menu-title .click {
  font-size: 12px;
  color: var(--second-def-color);
  font-weight: 400;
}
.header_menu-title .click a {
  color: var(--second-def-color);
  text-decoration: underline;
}
.header_form {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#e9e7e7),
    to(#fff)
  );
  background: linear-gradient(90deg, #e9e7e7 0, #fff 100%);
  padding: 25px 35px;
  border-radius: 20px;
}
.header_form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 6px;
}
.header_form-title {
  max-width: 250px;
  width: 100%;
  font-size: 20px;
}
.header_form-title span,
.include_menu-btn i {
  color: var(--blue);
}
.header_form-text {
  margin-top: 5px;
  font-size: 12px;
}
.header_form-text span {
  font-weight: 600;
  color: var(--blue);
}
.header_form-data {
  border: 1px solid var(--blue);
  border-radius: 7px;
  padding: 10px 0;
}
.header_form-data_title {
  font-size: 13px;
  font-weight: 400;
  max-width: 150px;
  width: 100%;
  text-align: center;
}
.header_form-data div,
.header_form-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.header_form-time {
  font-size: 25px;
  font-weight: 700;
  color: var(--blue);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header_form-time span:nth-child(2) {
  font-weight: 400;
  font-size: 12px;
}
.header_form-btns {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header_form-btns input {
  padding: 15px;
  border: 0;
  background: #e2e2e2;
  border-radius: 7px 0 0 7px;
}
.header_form-btns button {
  width: 100%;
  padding: 15px;
  background: var(--yellow-color);
  border-radius: 7px;
  position: relative;
  left: -5px;
  -webkit-animation: moveInBottom 1s ease-out;
  animation: moveInBottom 1s ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.header_form-btns button:link,
.header_form-btns button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
}
.header_form-btns button:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.header_form-btns button:active {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* .header_form-btns button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: var(--yellow-color);
} */
.header_form-btns button:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.header_form-btns button i {
  margin-right: 5px;
}
.header_about {
  width: 43%;
}
.header_about-logo {
  width: 35px;
}
.header_about div {
  width: 40%;
  background: rgba(255, 255, 255, 0.8078431373);
  border-radius: 12px;
  padding: 25px 10px;
  text-align: center;
  position: relative;
  z-index: 3;
}
.header_about-title {
  font-size: 18px;
  margin: 5px 0;
}
/* header media */

@media screen and (max-width: 870px) {
  .header_about {
    display: none;
  }
  .header_img {
    display: none;
  }
  .header_menu-btn {
    transform: scale(0.9);
  }
  .header_title {
    font-size: 36px;
    font-weight: 700;
  }
  .header_menu-title {
    font-size: 16px;
    font-weight: 400;
  }
  .header_menu-title span {
    font-size: 20px;
    font-weight: 700;
  }
}

@media screen and (max-width: 660px) {
  .header_box {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
  }
  .header_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  /* header form  */
  .header_form-btns {
    flex-direction: column;
  }
  input.header_form-number {
    border-radius: 7px;
    width: 100%;
  }
  .header_form-btns button {
    display: inline-block;
    margin-top: 4px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: static;
  }
}

/* !!!====================================== HERO SECTION  ===================================!!! */

/* ========================================= MAP SECTION ==================================== */
.map {
  padding: 50px 16px 16px;
  background: #efefef;
}
.map .title {
  max-width: 450px;
  width: 100%;
}
.map_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.map_card {
  margin: -25px 0 0;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.map_addres {
  position: relative;
  top: 50px;
  padding: 55px 25px;
  width: 250px;
  background: var(--blue);
  color: #fff;
  border-radius: 15px;
  z-index: 3;
}
.map_google {
  max-width: 100%;
  width: 100%;
  height: 650px;
}

/* !!!====================================== MAP SECTION =================================!!! */

/* !!!====================================== TREATMENT SECTION ======================================!!! */
.treatment {
  padding: 50px 16px;
  background: var(--green-bkg);
}
.treatment h3 {
  font-size: 40px;
  font-weight: 600;
}
.treatment h3 span {
  color: var(--blue);
}
.treatment-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}
.treatment-menu {
  width: 400px;
  height: auto;
}
.treatment-menu button {
  width: 35px;
  height: 35px;
  position: relative;
  background: var(--yellow-color);
  color: var(--blue);
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  padding: 2px 2px 5px 2px;
}
.treatment-menu li {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin-bottom: 25px;
}
.treatment-menu li p {
  font-size: 18px;
  font-weight: 500;
}
.treatment-img {
  position: relative;
  padding: 5px;
}
.treatment-img img {
  position: absolute;
}
.treatment-img .img1 {
  top: -25px;
  left: 80px;
  width: 500px;
}
.treatment-img .img2 {
  width: 500px;
  top: 65px;
  left: -35px;
}
.treatment-img .img3 {
  width: 150px;
  left: 10px;
  bottom: 0;
  transform: rotate(28deg);
}
.treatment-img .background-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: var(--blue);
}
.treatment-img .description {
  position: absolute;
  right: 0;
  bottom: 75px;
  width: 350px;
  padding: 15px 35px;
  background: var(--yellow-color);
  border-radius: 15px;
  z-index: 4;
}
@media screen and (max-width: 1280px) {
  .treatment-main {
    gap: 100px;
  }
  .treatment-img .background-circle {
    width: 400px;
    height: 400px;
  }
  .treatment-img .img1 {
    top: 40px;
    left: 100px;
    width: 300px;
    z-index: 1;
  }
  .treatment-img .img2 {
    width: 300px;
    top: 95px;
    left: 15px;
    z-index: 2;
  }
  .treatment-img .img3 {
    width: 90px;
    left: 10px;
    bottom: 0;
    z-index: 3;
  }
}
@media screen and (max-width: 870px) {
  .treatment-main {
    gap: 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 660px) {
  .treatment h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  .treatment h3 {
    font-size: 28px;
  }
  .treatment-menu {
    width: 100%;
  }
  .treatment-menu li p {
    font-size: 15px;
  }
  .treatment-img .background-circle {
    width: 200px;
    height: 200px;
  }
  .treatment-img .img1 {
    width: 200px;
    top: -15px;
    left: 40px;
  }
  .treatment-img .img2 {
    width: 200px;
    top: 55px;
    left: 0;
  }
  .treatment-img .description {
    bottom: 0;
    left: -75px;
    padding: 5px 10px;
  }
  .treatment-img .img3 {
    display: none;
  }
}
/* !!!====================================== TREATMENT SECTION ======================================!!! */

/* !!!====================================== BOOKING SECTION ======================================!!! */
.booking {
  width: 100%;
  height: 500px;
  background: var(--blue);
  background-image: url("./img/bookin-bkg.webp");
  background-repeat: no-repeat;
  background-size: 38% 100%;
  background-position: left;
  position: relative;
}
.booking-h2 {
  position: absolute;
  top: 90px;
  left: 40%;
  font-size: 48px;
  color: var(--white-color);
  z-index: 1;
}
.booking-h2 span {
  color: #f7e81b;
}
.booking-form-box {
  width: 550px;
  position: absolute;
  bottom: -35px;
  left: 30%;
  z-index: 1;
}
.booking_form {
  border: 1px solid var(--blue);
}
.booking_form-title {
  max-width: 100%;
  font-size: 33px;
}
.booking_form-text {
  font-size: 18px;
}
.booking_form-text br {
  display: none;
}
.booking-arrow {
  width: 140px;
  position: absolute;
  transform: rotate(110deg);
  top: 37%;
  left: 63%;
}
.booking-about {
  position: absolute;
  bottom: 30px;
  left: 10%;
}
.booking-mainImg {
  position: absolute;
  width: 270px;
  bottom: 0;
  left: 20%;
  z-index: 0;
}
@media screen and (max-width: 870px) {
  .booking-mainImg {
    left: 10px;
  }
  .booking-form-box {
    left: 10%;
  }
}
@media screen and (max-width: 669px) {
  .booking {
    background-size: 100% 100%;
    height: 450px;
  }
  .booking-h2 {
    color: #000;
    left: 15%;
    font-size: 36px;
  }
  .booking-mainImg {
    display: none;
  }
  .booking-form-box {
    width: 350px;
    left: 10%;
  }
  .booking_form-title {
    font-size: 23px;
  }
  .booking_form-text {
    font-size: 10px;
  }
  .booking-arrow {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .booking_form-title {
    font-size: 18px;
  }
  .booking-form-box {
    left: 16px;
    width: 300px;
  }
}
/* !!!====================================== BOOKING SECTION ======================================!!! */

/* !!!====================================== STAGES SECTION ======================================!!! */
.stages {
  padding-bottom: 30px;
  background: #fff;
}
.second-gray {
  background: rgb(226, 226, 226);
}
.stages-white {
  padding-top: 100px;
  height: 700px;
  background: #fff;
}
.stages-title {
  font-size: 40px;
  font-weight: 500;
  margin-left: 240px;
}
.stages-title span {
  color: var(--blue);
}
.stages-one-two {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  gap: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.stage-one {
  display: flex;
  width: 550px;
  height: 350px;
  background: #d7f4f0;
  border-radius: 25px;
}
.stage-one img {
  border-radius: 0 0 0 25px;
}
.stages .stage-index {
  width: 90px;
  padding: 15px;
  background: var(--blue);
  color: #fff;
  border-radius: 10px;
}
.stage-index-description1 {
  margin-top: 90px;
}
.stage-index-description1 h4,
.stage-two-description h4,
.four-bottom h4 {
  font-size: 19px;
  color: var(--blue);
  margin: 7px 0;
}
.stage-two {
  position: relative;
  width: 450px;
  height: 450px;
  background: var(--yellow-color);
  border-radius: 25px;
}
.stage-two img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
}
.stage-two-description {
  margin: 35px 0 0 35px;
}
.stage-two-description p {
  width: 90px;
}
.three-four {
  align-items: start;
}
.three-four img {
  width: 350px;
  position: absolute;
  right: -5px;
  bottom: -15px;
  z-index: 1;
}
.stage-three {
  position: relative;
  width: 650px;
  height: 450px;
  background: var(--blue);
  border-radius: 25px;
}
.stage-three-description {
  margin: 35px 55px;
}
.stage-three-description h4 {
  font-size: 18px;
  color: var(--yellow-color);
  margin: 6px 0;
}
.stage-three-description .stage-3 {
  color: var(--blue);
  background: var(--yellow-color);
}
.stage-three-description p {
  width: 200px;
  color: var(--white-color);
}
.stage-3-warning {
  width: 450px;
  left: 55px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px 35px;
  z-index: 2;
  background: #27787e;
  border-radius: 15px;
  opacity: 0.8;
  color: #fff;
}
.stage-3-warning img {
  position: static;
  width: 40px;
}
.stage-four {
  width: 350px;
  height: 400px;
  background: #fff;
  border-radius: 25px;
}
.four-top {
  width: 100%;
  height: 45%;
  position: relative;
  border-radius: 25px 25px 0 0;
  background-color: #d7f4f0;
  margin-bottom: 15px;
}
.four-top img {
  position: absolute;
  width: 300px;
  left: 0;
  top: 10px;
}
.four-bottom {
  padding: 5px 16px;
}
.stages-gray {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 15px 25px;
}
.stages-gray h3 {
  width: 450px;
  font-size: 16px;
}
.stages-gray h3 b {
  font-size: 40px;
}
.stages-gray h3 b span {
  color: var(--blue);
}
@media screen and (max-width: 1041px) {
  .stages-white {
    height: 1500px;
  }
  .stages-title {
    margin-left: 100px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 870px) {
  .stages-white,
  .stages-one-two {
    width: 100%;
  }
  .stages-one-two div {
    width: 80%;
  }
  .stages-one-two .four-top {
    width: 100%;
  }
  .stage-two-description p {
    width: 100%;
  }
  .stages-one-two .stage-two {
    height: 410px;
  }
  .stage-three-description {
    position: relative;
    z-index: 2;
  }
}
@media screen and (max-width: 660px) {
  .stages-title,
  .stages-gray h3 b {
    margin-left: 25px;
    font-size: 30px;
  }
  .stages-gray h3 b {
    margin-left: 0;
  }
  .stage-one img {
    position: absolute;
    width: 250px;
    z-index: 1;
  }
  .stage-index-description1 {
    position: relative;
    margin-left: 25px;
    z-index: 2;
  }
  .three-four .stage-3-img {
    width: 250px;
    bottom: -5px;
  }
  .stage-three .stage-3-warning {
    width: 250px;
    padding: 5px 10px;
    left: 15px;
  }
  .stages-one-two .stage-four {
    height: 430px;
  }
}
/* !!!====================================== STAGES SECTION ======================================!!! */

/* !!!====================================== QUESTION SECTION ======================================!!! */
.question {
  width: 100%;
  height: 600px;
  background: rgb(226, 226, 226);
  padding-bottom: 50px;
}
.height100 {
  height: 100%;
}
.question-test {
  position: relative;
  width: 70%;
  height: 100%;
  background: #fff;
  padding: 50px 100px;
}
.question-woman {
  position: absolute;
  width: 450px;
  right: -100px;
  bottom: 0;
}
.test-main-top {
  display: flex;
  gap: 5px;
}
.number-question {
  font-size: 86px;
  line-height: 76px;
  color: #e2e2e2;
}
.main-question p {
  color: var(--blue);
  font-size: 10px;
  margin-bottom: 5px;
}
.main-question h5 {
  font-size: 25px;
  font-weight: 600;
}
.question-test-main ul {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-top: 25px;
}
.question-test-main ul li {
  width: 130px;
  list-style: none;
}
.question-test-main ul li div {
  width: 130px;
  height: 200px;
  display: flex;
  align-items: center;
  background-color: var(--green-bkg);
  border-radius: 15px;
  transition: linear all 100ms;
}
.question-test-main ul li div img {
  width: 100%;
}
.question-test-main ul li div:hover {
  background: var(--blue);
}
.question-test-main ul li p {
  width: 100%;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
.question-gift {
  position: absolute;
  width: 150px;
  bottom: -80px;
  left: 70%;
}
@media screen and (max-width: 1220px) {
  .question-woman {
    right: -300px;
  }
}
@media screen and (max-width: 930px) {
  .question-woman {
    display: none;
  }
  .question-test {
    width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .question-gift {
    left: 40%;
  }
}
@media screen and (max-width: 460px) {
  .number-question {
    font-size: 50px;
  }
  .main-question h5 {
    font-size: 18px;
  }
  .question-test-main ul li {
    width: 70px;
  }
  .question-test-main ul {
    gap: 30px;
  }
  .question-test-main ul li div {
    width: 100%;
    height: 100px;
  }
  .question-test-main ul li p {
    font-size: 13px;
  }
}
/* !!!====================================== QUESTION SECTION ======================================!!! */

/* !!!====================================== PRICE-DEPENDS SECTION ======================================!!! */
.price-depends {
  background: rgb(226, 226, 226);
  padding: 90px 25px;
}
.price-depends ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 30px;
}
.price-depends ul li {
  width: 330px;
}
.implant-type-image {
  width: 100%;
  height: 250px;
  position: relative;
  background: var(--blue);
  border-radius: 23px 23px 0 0;
}
.implant-type-image img {
  margin-top: 15.5px;
  width: 100%;
}
.implant-type-description {
  width: 100%;
  padding: 25px 25px 45px;
  background: #fff;
  border-radius: 0 0 23px 23px;
}
.implant-type-description h3 {
  font-size: 19px;
  color: var(--blue);
}
.implant-type-description .how-implanting {
  font-size: 15px;
  font-weight: 400;
  margin: 5px 0;
}
.implant-type-description b {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.implant-type-description hr {
  margin: 10px 0;
  border: 1px solid #e2e2e2;
}
.type-subtitle {
  font-size: 13px;
  font-weight: 600;
}
.type-subprice {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 5px;
}
.type_warning-box {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 10px;
}
.type_warning-box i {
  color: var(--blue);
  margin-right: 5px;
}
.fa-triangle-exclamation::before {
  content: "\f071";
}
.type_warning-box p {
  font-size: 12px;
  max-width: 150px;
}
.implant-type-image .type-img-2 {
  width: 250px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.implant-type-image .type-img-3 {
  width: 200px;
  position: absolute;
  top: 45px;
  left: 63px;
}
/* !!!====================================== PRICE-DEPENDS SECTION ======================================!!! */

/* !!!====================================== ANY-QUESTIONS SECTION ======================================!!! */
.any-questions {
  width: 100%;
  height: 600px;
  background-image: url("./img/header_bkg.webp");
  background-size: 100% 100%;
  position: relative;
}
.any-questions .Dr-Elaine {
  position: absolute;
  width: 350px;
  bottom: 0;
  left: 50%;
}
.any-questions-box {
  width: 550px;
  position: absolute;
  top: 270px;
  left: 25%;
  z-index: 1;
}
.any-questions_about {
  position: absolute;
  width: 250px;
  top: 300px;
  left: 73%;
}
.any-questions_about div {
  width: 100%;
}
.any-questions-title {
  text-align: center;
  position: absolute;
  top: 100px;
  left: 30%;
}
.any-questions .sign {
  font-size: 350px;
  position: absolute;
  top: 30px;
  left: 17%;
  color: var(--blue);
  z-index: 0;
}
@media screen and (max-width: 1220px) {
  .any-questions .Dr-Elaine {
    left: 40%;
  }
  .any-questions-box {
    left: 15%;
  }
  .any-questions_about {
    width: 250px;
    left: 67%;
  }
  .any-questions-title {
    left: 20%;
  }
  .any-questions .sign {
    left: -25px;
  }
}
@media screen and (max-width: 1100px) {
  .any-questions-box {
    width: 430px;
  }
}
@media screen and (max-width: 660px) {
  .any-questions {
    height: 500px;
  }
  .any-questions .sign {
    display: none;
  }
  .any-questions .Dr-Elaine {
    width: 300px;
    left: 25%;
  }
  .any-questions-title {
    color: var(--blue);
  }
}
@media screen and (max-width: 560px) {
  .any-questions-box {
    width: 330px;
    left: 16px;
  }
}
@media screen and (max-width: 430px) {
  .any-questions {
    height: 400px;
  }
  .any-questions .sign {
    display: none;
  }
  .any-questions .Dr-Elaine {
    width: 250px;
    left: 15%;
  }
  .any-questions-title {
    font-size: 24px;
  }
  .any-questions-box {
    width: 290px;
    top: 190px;
  }
}
/* !!!====================================== ANY-QUESTIONS SECTION ======================================!!! */

/* !!!====================================== LEARN-MORE SECTION ======================================!!! */
.learn-more {
  width: 100%;
  padding: 80px 30px 100px;
  background: var(--blue);
}
.learn-more_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.calculator {
  width: 450px;
}
.learn-more_title {
  width: 100%;
  font-size: 48px;
  color: #fff;
}
.learn-more_title span {
  color: var(--yellow-color);
}
.payment-box {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.payment-box div {
  text-align: center;
}
.payment-box hr {
  height: 55px;
  border: 1px solid #fff;
  margin: 0 15px;
}
.payment-title {
  color: #fff;
  margin-bottom: 5px;
}
.payment-price {
  font-size: 25px;
  font-weight: 600;
  color: var(--yellow-color);
}
.learn-more button {
  padding: 15px 25px;
  background: var(--yellow-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 7px;
}
@media screen and (max-width: 550px) {
  .calculator {
    width: 300px;
  }
  .learn-more_title {
    font-size: 33px;
  }
}
@media screen and (max-width: 400px) {
  .learn-more_title {
    font-size: 25px;
  }
  .learn-more button {
    font-size: 12px;
  }
}
/* !!!====================================== LEARN-MORE SECTION ======================================!!! */

/* !!!====================================== MANUFACTURERS SECTION ======================================!!! */
.manufacturers {
  padding: 50px 20px;
  background: var(--green-bkg);
}
.manufacturers .from-economy {
  font-size: 17px;
  font-weight: 600;
}
.manufacturers ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}
.manufacturers ul li {
  height: 250px;
  list-style: none;
  border-radius: 25px;
  padding: 25px;
  background: #fff;
}
.israel-production {
  width: 350px;
}
.country-title {
  display: flex;
  align-items: start;
  gap: 5px;
}
.country-title img {
  border-radius: 25px;
}
.country-title p {
  font-size: 28px;
  font-weight: 600;
}
.country-title hr {
  border: 3px solid var(--blue);
}
.manufacturers-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}
.manufacturers-logos img {
  margin-bottom: 10px;
}
.korean-production {
  width: 400px;
}
.dentium {
  height: 35px;
}
.seitzerland-production {
  width: 300px;
}
@media screen and (max-width: 450px) {
  .manufacturers ul li {
    height: auto;
  }
}
/* !!!====================================== MANUFACTURERS SECTION ======================================!!! */

/* !!!====================================== MORE-3-IMPLANTS SECTION ======================================!!! */
.more-3-implants {
  width: 100%;
  height: 750px;
  background-image: url("./img/header_bkg.webp");
  background-size: 100% 100%;
  padding: 30px 150px;
  position: relative;
}
.infoImg {
  width: 470px;
  position: absolute;
  right: 5%;
  bottom: 0;
}
.more-3-implants h3 p {
  font-size: 19px;
  font-weight: 600;
  margin: 5px 0 20px;
}
.more-3-implants-cards {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 35px;
}
.more-3-implants-cards div {
  width: 280px;
}
.more-3-img {
  width: 100%;
  height: 250px;
  background: var(--blue);
  border-radius: 25px 25px 0 0;
}
.more-3-img img {
  margin-top: 30px;
  width: 100%;
}
.more-3-description {
  width: 100%;
  padding: 25px;
  background: #fff;
  border: 1px solid var(--blue);
  border-radius: 0 0 25px 0;
}
.more-3-title {
  color: var(--blue);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.more-3-description ul {
  margin: 10px 0;
}
.more-3-description li {
  list-style-type: disc;
  font-size: 13px;
}
.more-3-description li::marker {
  color: var(--blue);
}
@media screen and (max-width: 1260px) {
  .more-3-implants-cards {
    position: relative;
    z-index: 1;
  }
  .infoImg {
    right: 0px;
    z-index: 0;
  }
}
@media screen and (max-width: 1220px) {
  .more-3-implants {
    height: auto;
  }
  .more-3-implants-cards {
    position: static;
    justify-content: center;
  }
  .infoImg {
    display: none;
  }
}
@media screen and (max-width: 870px) {
  .more-3-implants h3 p {
    font-size: 16px;
  }
}
@media screen and (max-width: 660px) {
  .more-3-implants {
    padding: 30px 25px;
  }
  .more-3-implants h3 p {
    font-size: 14px;
  }
}
/* !!!====================================== MORE-3-IMPLANTS SECTION ======================================!!! */

/* ========================================= FREE SECTION ==================================== */
.free {
  padding: 100px 0;
  background: url(../img/header_bkg.webp) no-repeat center/cover;
  position: relative;
}
.free .title {
  max-width: 450px;
  width: 100%;
}
.free .header_form {
  max-width: 550px;
  margin-top: 250px;
  position: relative;
  z-index: 2;
}
.free_human {
  position: absolute;
  width: 25vw;
  max-width: 400px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.free_arrow {
  position: absolute;
  top: 7%;
  left: 5%;
  width: 40%;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.free .header_form-box {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.free .container {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.free_item,
.question .container {
  position: relative;
}
.free_title {
  font-size: 25px;
  width: 150px;
}
.free_title span,
.question .sign {
  color: var(--blue);
}
.free_menu {
  margin-top: 10px;
}
.free_menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.free_menu-item button {
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  background: var(--blue);
}

@media screen and (max-width: 1280px) {
  .free_arrow {
    transform: scale(0.8) rotate(120deg);
  }
}

/* !!!====================================== FREE SECTION =================================!!! */

@media screen and (max-width: 1280px) {
  .free {
    padding: 80px 0;
  }
  .free_arrow {
    transform: scale(0.8) rotate(120deg);
  }
}
@media screen and (max-width: 970px) {
  .free {
    padding: 60px 0;
  }
  .free_arrow {
    display: none;
  }
  .free .header_form {
    margin-top: 20px;
  }
  .free .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .free .free_item:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .free_human {
    left: 80%;
  }
  .free_title {
    font-size: 18px;
  }
}
@media screen and (max-width: 720px) {
  .free .free_item:last-child {
    display: block;
  }
  .free_title {
    margin-top: 20px;
    width: 100%;
  }
  .free_human {
    display: none;
  }
  .free_menu h4 {
    font-size: 14px;
  }
}

/* ==============================GUARANTEES============================= */
.guarantees .container {
  padding: 0 36px;
}
.guarantees .title span {
  color: var(--yellow-color);
}

.guarantees .title {
  max-width: 550px;
  width: 100%;
}

.guarantees {
  padding: 75px 0;
  background: var(--blue);
}
.guarantees .title {
  color: #fff;
}
.guarantees_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.guarantees .subtitle {
  font-size: 22px;
  color: #fff;
  margin: 5px 0 25px;
}
.guarantees_menu {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
.guarantees_menu-btn,
.guarantees_menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.guarantees_menu-item {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 15px;
}
.guarantees_menu-btn {
  padding: 15px;
  width: 45px;
  height: 45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--yellow-color);
  border-radius: 7px;
  color: var(--blue);
  font-weight: 600;
  font-size: 25px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.guarantees_menu-title {
  font-size: 20px;
  color: var(--yellow-color);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.guarantees_menu-text {
  font-size: 18px;
  color: #fff;
}
.guarantees_img {
  position: relative;
  width: 550px;
}
.footer .logo img,
.guarantees_img .guarantees_paper {
  width: 100%;
}
.guarantees_pen {
  position: absolute;
  width: 40%;
  left: 35%;
  bottom: 0;
}
.guarantees_img-li {
  width: 100%;
  display: none;
}
.guarantees_img-li img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .guarantees .container {
    padding: 0 36px;
  }
  .guarantees {
    padding: 50px 0;
  }
}

@media screen and (max-width: 870px) {
  .guarantees {
    padding: 30px 0;
  }
  .guarantees .container {
    padding: 0 16px;
  }
  .guarantees .subtitle {
    font-size: 18px;
    margin: 4px 0 20px;
  }
  .guarantees_menu {
    gap: 26px;
  }
  .guarantees_menu-btn {
    padding: 12px;
  }
  .guarantees_menu-title {
    font-size: 16px;
  }
  .guarantees_menu-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 660px) {
  .guarantees {
    padding: 24px 0;
  }
  .guarantees_img {
    width: 30vw;
    margin: 0 auto;
    margin-top: 10px;
  }
  .guarantees_content {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .guarantees_menu {
    grid-template-columns: 1fr;
    gap: 18px;
  }
}

/* !!!===========================GUARANTEES==========================!!! */
/* ==============================DEVICES============================ */
.devices {
  padding: 50px 0;
}
.devices .container {
  padding: 0 35px;
}
.devices .title,
.guarantees .title {
  max-width: 550px;
  width: 100%;
}
.devices_menu {
  margin-top: 25px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
}
.devices_menu-item {
  max-width: 466.7px;
  width: 100%;
  padding: 25px 30px;
  background: #e2e2e2;
  border-radius: 25px;
}
.devices_menu-img {
  width: 100%;
  height: 200px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.devices_menu-img h1 {
  position: absolute;
  font-size: 120px;
  color: gray;
  opacity: 0.5;
}
.devices_menu-title {
  margin: 15px 0 5px;
  font-size: 25px;
  color: var(--blue);
  text-transform: uppercase;
}
.devices_menu-text {
  font-size: 15px;
}
.devices_menu-text span {
  font-weight: 600;
}
.devices_num-1 {
  left: 10px;
}
.devices_num-2 {
  right: 10px;
}
.devices_num-3 {
  bottom: -5px;
  left: 10px;
}
.devices_num-4 {
  bottom: -5px;
  right: 25px;
}
.devices_img-1,
.devices_img-2 {
  position: relative;
  z-index: 3;
  width: 80%;
}
.devices_img-3,
.devices_img-4 {
  position: relative;
  z-index: 3;
  width: 50%;
}
.devices_img-4 {
  width: 20%;
}

@media screen and (max-width: 1280px) {
  .devices_menu {
    margin-top: 20px;
    gap: 20px;
    justify-content: stretch;
  }
  .devices_menu-item {
    align-self: stretch;
    padding: 20px 25px;
  }
  .devices_menu-img {
    height: 150px;
  }
  .devices_menu-img h1 {
    font-size: 100px;
  }
  .devices_menu-title {
    margin: 10px 0 5px;
    font-size: 20px;
  }
  .devices_menu-tex {
    font-size: 14px;
  }
}

@media screen and (max-width: 870px) {
  .devices {
    padding: 30px 0;
  }
  .devices_menu {
    margin-top: 14px;
    gap: 12px;
  }
  .devices_menu-item {
    padding: 15px 15px;
  }
  .devices_menu-img {
    height: 120px;
  }
  .devices_menu-img h1 {
    font-size: 60px;
  }
  .devices_menu-title {
    margin: 10px 0 5px;
    font-size: 16px;
  }
  .devices_menu-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .devices {
    padding: 24px 0;
  }
  .devices_menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .devices_menu-item {
    width: 48%;
    flex-direction: row;
    padding: 15px 15px;
  }
  .devices_menu-img {
    height: 100px;
  }
  .devices_menu-img h1 {
    font-size: 50px;
  }
  .devices_menu-title {
    margin: 10px 0 5px;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .devices .container {
    padding: 0 16px;
  }
}
/* !!!===========================DEVICES=========================!!! */

/* ==============================ABOUT=========================== */
.about {
  padding: 50px 0;
  background: #f7f4f4;
}
.about .container {
  padding: 0 35px;
}
.about .title {
  max-width: 450px;
  width: 100%;
}
.about_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 25px;
}
.about_text {
  max-width: 400px;
  font-size: 24px;
  width: 100%;
  padding-right: 16px;
}
.about_card,
.about_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about_card {
  max-width: 40%;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  padding: 20px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.about_img {
  width: 350px;
  height: 350px;
  background: var(--blue);
  border-radius: 50%;
  position: relative;
}
.about_img img {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 23%;
  border-radius: 0 0 50% 50%;
}
.about_name {
  font-size: 25px;
  color: var(--blue);
  margin: 15px 0;
}
.about_profession {
  font-size: 18px;
}
.about_year {
  margin: 5px 0 10px;
  font-size: 15px;
  font-weight: 600;
}
.about_year span {
  font-size: 13px;
  font-weight: 400;
}
.about_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}
.about_diploma-img {
  width: 50px;
  height: 75px;
  background: var(--blue);
}

@media screen and (max-width: 1280px) {
  .about_img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 870px) {
  .about {
    padding: 30px 0;
  }
  .about_text {
    font-size: 16px;
  }
  .about_img {
    width: 200px;
    height: 200px;
  }
  .about_name {
    font-size: 18px;
  }
  .about_profession {
    font-size: 14px;
  }
  .about_year {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .about {
    padding: 24px 0;
  }
  .about_img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 570px) {
  .about_content {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .about .container {
    padding: 0 16px;
  }
  .about_card {
    max-width: 75%;
    margin: 0 auto;
  }
}
/* !!!===========================ABOUT========================!!! */

/* ==============================FEEDBACK=========================== */

.feedback {
  padding: 200px 0 50px;
  background: #e2e2e2;
}

.feedback .container {
  padding: 0 35px;
}
.feedback .title {
  max-width: 850px;
  width: 100%;
}
.feedback_texts {
  padding-right: 16px;
}
.feedback_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  margin: 15px 0 35px;
}
.feedback_btn {
  display: block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  color: var(--second-def-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.feedback_btn.active {
  color: #fff;
  background: var(--blue);
}
.feedback_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.feedback_content-box {
  max-width: 40%;
  width: 100%;
  background: #fff;
  padding: 35px 25px;
  border-radius: 25px;
}
.feedback_img {
  max-width: 100%;
  width: 100%;
  height: 150px;
  background: var(--blue);
  margin-bottom: 15px;
  border-radius: 25px;
}
.feedback_name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.feedback_stars {
  max-width: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
  padding: 5px 15px;
  background: #fff;
  border-radius: 7px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.feedback_stars-item i,
.guarantees .title span {
  color: var(--yellow-color);
}
.feedback_text {
  max-width: 550px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
}
.feedback_link {
  max-width: 60%;
  width: 100%;
  display: block;
  margin-top: 25px;
  padding: 15px 25px;
  background: var(--yellow-color);
  border-radius: 7px;
  color: var(--second-def-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1000px) {
  .feedback_link {
    max-width: 100%;
  }
}

@media screen and (max-width: 870px) {
  .feedback {
    padding-bottom: 30px;
  }
  .feedback_link {
    padding: 10px 20px;
    text-align: center;
  }
  .feedback_content-box {
    padding: 25px 15px;
  }
  .feedback_btns {
    margin: 10px 0 25px;
  }
}
@media screen and (max-width: 700px) {
  .feedback {
    padding-bottom: 24px;
  }
  .feedback_btn {
    padding: 8px 12px;
  }
  .feedback_text {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 576px) {
  .feedback .container {
    padding: 0 16px;
  }
  .feedback_content {
    display: flex;
    flex-direction: column;
  }
  .feedback_content-box {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 450px) {
  .feedback_content-box {
    max-width: 100%;
    margin: 0 auto;
  }
  .feedback_link {
    margin-top: 4px;
    font-size: 12px;
  }
  .feedback_content-box {
    padding: 12px;
  }
}
/* !!!===========================FEEDBACK========================!!! */
/* ==============================CLIEnTS=========================== */
.clients {
  padding: 100px 0;
  background: #f7f4f4;
  min-height: 900px;
}
.clients .container {
  padding: 0 35px;
}
.clients .title {
  max-width: 550px;
  width: 100%;
}
.clients_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
  margin: 45px 0 25px;
}
.clients_box,
.clients_list,
.clients_list-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.clients_list-item {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--blue);
  opacity: 0.5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients_list-item img {
  width: 101%;
  border-radius: 50%;
}
.clients_info-img-1 h1,
.clients_info-imgs_item h1,
.clients_list-item h1 {
  font-size: 100px;
  color: #fff;
}
.clients_list-item.active {
  opacity: 1;
}
.clients_btn,
.clients_info,
.clients_list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients_btn {
  width: 45px;
  height: 45px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--blue);
  border-radius: 50%;
  cursor: pointer;
}
.clients_btn i {
  font-size: 20px;
  color: #fff;
}
.clients_info {
  position: absolute;
  padding: 45px 35px;
  background: #fff;
  border-radius: 25px;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 40px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  z-index: 0;
}
.clients_info-bkg {
  width: 100%;
  position: relative;
}
.clients_info.active {
  z-index: 1;
  opacity: 1;
}
.clients_info-box {
  max-width: 50%;
  width: 100%;
}
.clients_info-img-1,
.clients_info-imgs,
.clients_info-imgs_item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients_info-img-1 {
  height: 350px;
  background: var(--blue);
  border-radius: 25px;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.clients_info-img-1 img {
  position: absolute;
  height: 100%;
  bottom: 0;
}
.clients_info-imgs,
.clients_info-imgs_item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.clients_info-imgs_item {
  max-width: 49%;
  height: 150px;
  background: var(--blue);
  border-radius: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.clients_info-title {
  font-size: 22px;
  color: var(--blue);
  text-transform: uppercase;
  max-width: 400px;
  width: 100%;
}
.clients_info-subtitle {
  font-size: 15px;
  font-weight: 600;
  margin: 15px 0 5px;
}
.clients_info-text {
  font-size: 13px;
  max-width: 350px;
  width: 100%;
}
.clients_info-line {
  border: 1px solid #e2e2e2;
  margin: 15px 0;
}
.clients_info-feedback {
  max-width: 350px;
  width: 100%;
  font-size: 14px;
}
.clients_info-feedback i {
  font-size: 35px;
  color: var(--blue);
  margin-right: 10px;
}

.clients_list-item {
  flex-shrink: 0;
}
.clients_list {
  padding-bottom: 12px;
}

/* width */
.clients_list::-webkit-scrollbar {
  padding-top: 8px;
  height: 12px;
}

/* Track */
.clients_list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.clients_list::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 8px;
}

/* Handle on hover */
.clients_list::-webkit-scrollbar-thumb:hover {
  background: #30a1a7;
}
@media screen and (max-width: 1024px) {
  .feedback_link {
    max-width: 100%;
  }
  .clients_list {
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    /* box-shadow: inset gray 0px -4px 20px -12px; */
  }
}

@media screen and (max-width: 870px) {
  .clients {
    padding: 30px 0;
  }
}
@media screen and (max-width: 776px) {
  .clients {
    min-height: 1200px;
  }
  .clients_info {
    flex-direction: column;
    padding: 20px 15px;
  }
  .clients_info-box {
    margin: 0 auto;
  }
  .clients_list-item {
    width: 80px;
    height: 80px;
  }
  .clients_list::-webkit-scrollbar {
    padding-top: 8px;
    height: 8px;
  }
  .clients_btn {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 700px) {
  .clients {
    padding: 24px 0;
  }
  .clients_box {
    gap: 10px;
  }
  .clients_info-title {
    font-size: 16px;
  }
  .clients_info-subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .clients .container {
    padding: 0 16px;
  }
  .clients_info {
    width: 100%;
    padding: 16px;
  }
  .clients_info-box {
    max-width: 100%;
  }
  .clients_info-box img {
    width: 100%;
    object-fit: cover;
  }
  .clients_info-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
}

/* !!!===========================CLIEnTS========================!!! */
